.Cell {
  height: 5rem;
  width: 5rem;
  background-color: #263238;
  border-radius: 1px;
  transition: background-color 0.7s ease;
}

.Cell-lit {
  background-color: #00bcd4;
}

@media only screen and (max-width: 750px) {
  .Cell {
    height: 3.5rem;
    width: 3.5rem;
  }
}